
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background: white;
    flex-direction: column;


}
.plano{
    color: rgb(116, 166, 245);
    font-size: 40px;
    font-weight: bold;
    
}
.mec{
    
    width: 150px;
    align-self: flex-start;
    padding: 30px 5px;
    margin-top: 0.5%;
    border: 2;
    box-sizing: border-box;

}

.rodape{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.imgLocalizacao{
    width: 25px;
}
.localizacao{
    display: flex;
    align-items: center;
}
.imgRodape{
    display: flex-start;
    padding: 5px 0px;
    margin-left: 0,5%;
    border: 2;
}
.link{
    display: flex;
    text-align: justify;
    padding: 5px 500px;
    justify-items: center;
    align-items: center;
}
.img{

    color: white;
    display: -webkit-box;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.imagem{
    margin-left: 35%;
}

.mae {
    font-size: 15px;
    color: black;
    display: grid;
    place-items: center;
    width: 50%;
    height: 90%;
    padding: 0px 0px;
    text-align: justify;
    justify-items: center;
    align-items: start;
    justify-content: center;
   
}


.img h1 {
    position: absolute; /* Permite posicionar o texto sobre a imagem */
    top: 50%; /* Posiciona o texto no meio vertical */
    left: 50%; /* Posiciona o texto no meio horizontal */
    transform: translate(-60%, 180%); /* Centraliza o texto exatamente */
    color: white; /* Cor do texto */
    font-size: 80px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o 
    texto */
    font-style: inherit;
}

.apontando {
    
    width: 150px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    
}
.img2 {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: center;
}

table {
    border-collapse: collapse; /* Remove espaços extras entre as bordas */}
td {
    padding: 10px; /* Espaçamento interno nas células */}